/***********************/
/*     Notice Box      */
/***********************/
.notice-box {
    background-color: #405266;
    border: transparent;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

    margin-bottom: 20px;
}

.notice-body {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
}

.notice-body:first-letter {
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bold;
}

.notice-body a {
    text-decoration: none;
    color: #FFFFFF;
}


/***********************/
/*       Content       */
/***********************/
.main-content {
    padding-right: 20px;
    text-align: justify;

    font-family: "PT Sans", Arial, Ubuntu;

}

section {
    margin-bottom: 25px;
}

.recent-scripts {
    margin-top: 20px;
}

.script-count {
    font-family: "PT Sans", Arial, Ubuntu;
    font-size: 18px;
    color: #717171;

    display: block;
    padding-bottom: 15px;
}

/***********************/
/*     Script Page     */
/***********************/

.script-content {
    font-family: 'PT Sans', Arial, Ubuntu, sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.5;
    color: #515151;
}

.script-page-title {
    font-size: 32px;
    font-weight: 700;
    
    line-height: 1.5;

    margin-bottom: 15px;

    color: #313131;
}

.script-page-tags {
    font-size: 13px;
    margin-bottom: 15px;
}

.script-page-metainfo {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.script-page-author {
    color: #2980B9;
}

.script-page-author:hover {
    text-decoration: none;
    color: #2980B9;
}

/*.section-title {
    font-size: 24px;
    font-weight: 700;
    
    line-height: 1.5;

    margin-bottom: 15px;

    color: #313131;
}*/

.para {
    font-weight: 400;
    color: #515151;
    margin-top: 10px;
    margin-bottom: 10px;
}

.file-name {
    background-color: #444;
    color: #EFEFEF;

    font-family: "Courier New", Courier, Ubuntu, Arial, sans-serif;
    font-weight: 700;
    font-size: 13px;

    border-radius: 5px;
    border: 1px solid #B6B6B6;
    
    padding: 5px;
}


/***********************/
/*    Script Snippet   */
/***********************/

.script-snippet {
    margin-bottom: 20px;

    font-size: 15px;
    line-height: 1.5;

    padding-top: 10px;
}

.script-title {
    font-size: 22px;
    border-bottom: 1px solid #B6B6B6;
}

.script-title a {
    color: #448AFF;
}

.script-title a:hover,
.script-title a:focus,
.script-title a:active {
    text-decoration: none;
    color: #2980B9;
}

.script-excerpt {
    font-size: 15px;
    line-height: 1.5;

    padding-top: 10px;
}

.script-tags {
    font-family: 'PT Sans', Arial, Ubuntu;
    font-size: 13px;
    
    line-height: 1.5;

    padding-top: 10px;
}

.script-metainfo {
    font-size: 14px;
    margin-top: 10px;
}

.script-author {
    color: #2980B9;
}

.script-author:hover {
    text-decoration: none;
    color: #2980B9;
}

/*****************************/
/*        Tag Cloud          */
/*****************************/
.tag-cloud {
    
    font-family: 'PT Sans', Arial, Ubuntu;
    font-size: 13px;

    line-height: 40px;

    background-color: #FEFEFE;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;

    margin-top: 20px;
    margin-bottom: 20px;

    border: 1px solid #B6B6B6;
    border-radius: 5px;
}

.tag-cloud:hover {
    background-color: #FAFAFA;
}

.tag-link {
    font-weight: 700;
    color: #16a085;

    margin-right: 6px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    border: 1px solid #1abc9c;
    border-radius: 5px;

    background-color: #FFFFFF;

    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

.tag-link:hover,
.tag-link:focus,
.tag-link:active {
    background-color: #1abc9c;

    color: #EFEFEF;
    border: 1px solid #1abc9c;

    text-decoration: none;
}

/*****************************/
/*       Beautification      */
/*****************************/
emphasis {
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

emphasis[class="italic"] {
    font-style: italic;
}

emphasis[class="bold"] {
    font-weight: bold;
}

emphasis[class="highlight"] {
    font-weight: 400;
    color: #FEFEFE;

    padding: 5px;
    border-radius: 5px;

    background-color: #8BC34A;
}

emphasis[class="highlight"]:hover { 
    background-color: #0288D1;
}

emphasis[class="code"] {
    font-family: Courier, Ubuntu, Arial;
    font-weight: 400;
    color: #FEFEFE;

    padding: 5px;
    border-radius: 5px;

    background-color: #95A5A6;
}

emphasis[class="code"]:hover {
    font-weight: 700;
}

emphasis[class="tag"] {
    font-family: 'PT Sans', Arial, Ubuntu;
    font-weight: 700;
    font-size: 13px;
    color: #16a085;

    margin-right: 10px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    border: 1px solid #16a085;
    border-radius: 5px;

    background-color: #FFFFFF;
}

emphasis[class="tag"]:hover {

    background-color: #1abc9c;

    color: #EFEFEF;
    font-weight: 700;

    border: 1px solid #1abc9c;
}

emphasis[class="date"] {
    font-family: Arial, Ubuntu;
    font-size: 13px;
    font-style: italic;
    font-weight: 700;

    color: #AAAAAA;

    padding-left: 3px;
}

emphasis[class="date"]:hover {
    color: #212121;
}


