.course-box {
	border: 0px solid #212121;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 30px;
	margin-top: 20px;
	box-shadow: 0px 10px 5px #888888;
	background-color: #FFFFFF;
}

.course-content {
	margin-left: 20px;
	margin-right: 20px;
}

.course_heading a {
	font-weight: 700;
	line-height: 30px;
	font-size: 24px;
	color: #4BA1B0;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.course_heading a:hover {
	color: #2980B9;
	text-decoration: none;
}

.course_abstract {
	font-weight: 400;
	line-height: 1.5;
	font-size: 14px;
	color: #515151;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.course_abstract:hover {
	color: #212121;
}

.course-meta-info {
	line-height: 1.5em;
	font-size: 13px;
}

.course_instructor {
	color: #2980B9;
	line-height: 1.5em;
	font-size: 13px;
	font-weight: 400;
}

.course-actions {
	text-align: right;
}

.course_button {
	color: #FFFFFF;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif, Ubuntu;
    font-size: 13px;
    font-weight: bold;
    background-color: #16A085;
    border-radius: 5px;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;

    -webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.course_button:hover, .course_button:active, .course_button:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #1abc9c;
}


.notice-box {
	background-color: #405266;
	border: transparent;
	border-radius: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.notice-body {
	font-size: 15px;
	color: #FFFFFF;
	font-weight: bold;
}

.notice-body:first-letter {
	font-size: 25px;
	color: #FFFFFF;
	font-weight: bold;
}

.notice-body a {
	text-decoration: none;
	color: #FFFFFF;
}

.share-zone {
	text-align: right;
	font-size: 13px;
	color: #EFEFEF;
	border-radius: 3px;
}

.share-zone a {
	margin-left: 0;
	margin-right: 0;
	padding: 8px;
	font-size: 13px;
	font-weight: 700;
	color: #FFFFFF;
}

.share-zone a:hover {
	text-decoration: none;
}

.share_button {
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.facebook {
	background-color: #3B5998;
}

.facebook:hover {
	background-color: #263961;
}

.twitter {
	background-color: #00ACED;
}

.twitter:hover {
	background-color: #0074a1;
}

.google-plus {
	background-color: #DD4B39;
}

.google-plus:hover {
	background-color: #ac2d1e;
}