/***********************/
/*     Notice Box      */
/***********************/
.notice-box {
    background-color: #405266;
    border: transparent;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

    margin-bottom: 20px;
}

.notice-body {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
}

.notice-body:first-letter {
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bold;
}

.notice-body a {
    text-decoration: none;
    color: #FFFFFF;
}


/***********************/
/*       Content       */
/***********************/
.section-title {
    font-family: "Arial Narrow", "Arial";
    font-size: 17px;
    font-weight: 700;

    color: #777777;

    margin-bottom: 5px;
    border-bottom: 1px solid #777777;

}

.main-content {
    padding-right: 20px;
    text-align: justify;

    font-family: 'Roboto', 'Arial', sans-serif;
}

section {
    margin-bottom: 25px;
}

.recent-scripts {
    margin-top: 20px;
}

/***********************/
/*     Script Page     */
/***********************/

.screenshot {
    box-shadow: 0px 5px 5px #777777;

    margin-top: 15px;
    margin-bottom: 15px;
    width: 95%;
    height: auto;
}

.script-content {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 17px;
    font-weight: 400;
    
    line-height: 1.5;
    color: #515151;
}

.script-page-title {
    font-family: 'Ubuntu', Arial, sans-serif, serif;
    font-size: 32px;
    font-weight: 400;
    
    line-height: 1.5;

    padding-bottom: 5px;
    margin-bottom: 15px;

    border-bottom: 1px solid #B6B6B6;

    color: #313131;
}

.script-page-tags {
    font-size: 13px;
    margin-bottom: 15px;
}

.script-page-metainfo {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.script-page-author {
    color: #2980B9;
}

.script-page-author:hover {
    text-decoration: none;
    color: #2980B9;
}

.para {
    font-weight: 400;
    color: #515151;
    margin-top: 15px;
    margin-bottom: 15px;
}

.file-name,
.file-name a {
    background-color: #444;
    color: #EFEFEF;

    font-family: "Courier New", Courier, Ubuntu, Arial, sans-serif;
    font-weight: 700;
    font-size: 13px;

    border-radius: 5px;
    border: 1px solid #444;
    
    padding: 5px;

    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

.file-name a:hover,
.file-name a:focus,
.file-name a:active {
    text-decoration: none;
    border: 1px dashed #B6B6B6;
}


/***********************/
/*    Script Snippet   */
/***********************/

.script-snippet {
    margin-bottom: 20px;

    font-size: 15px;
    line-height: 1.5;

    padding-top: 10px;
}

.script-title {
    font-family: 'Ubuntu', Arial, sans-serif, serif;
    font-size: 22px;
    border-bottom: 1px solid #B6B6B6;
}

.script-title a {
    color: #448AFF;
}

.script-title a:hover,
.script-title a:focus,
.script-title a:active {
    text-decoration: none;
    color: #2980B9;
}

.script-excerpt {
    font-size: 15px;
    line-height: 1.5;

    padding-top: 10px;
}

.script-tags {
    font-family: 'Roboto', Arial, Ubuntu;
    font-size: 13px;
    
    line-height: 1.5;

    padding-top: 10px;
}

.script-metainfo {
    font-size: 14px;
    margin-top: 10px;
}

.script-author {
    color: #2980B9;
}

.script-author:hover {
    text-decoration: none;
    color: #2980B9;
}

/*****************************/
/*         Top Tag           */
/*****************************/
.top-tags {
    font-family: Arial, Ubuntu;
    font-size: 13px;

    margin-top: 20px;
    margin-bottom: 20px;

}

.top-tags ul {
    margin: 0;
    padding: 0;
}

.top-tags li {
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
}

.top-tags .tag {
    font-family: "Arial", sans-serif;
    font-size: 13px;
    font-weight: 700;

    color: #717171;

    border: 1px solid #717171;
    border-radius: 5px;

    display: block;
    background-color: transparent;

    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

.top-tags .tag:hover {

    text-decoration: none;
    color: #EFEFEF;
    background-color: #717171;
}

.tag-link {

    font-family: "Arial", sans-serif;
    font-weight: 700;

    color: #EB7347;

    border: 1px solid #EB7347;
    border-radius: 5px;

    background-color: transparent;

    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;

    margin-left: 2px;
    margin-right: 2px;

    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

.tag-link:hover,
.tag-link:focus,
.tag-link:active {

    text-decoration: none;
    color: #EFEFEF;

    background-color: #EB7347;
    border: 1px solid transparent;
    
}

/*****************************/
/*       Beautification      */
/*****************************/
emphasis {
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

emphasis[class="italic"] {
    font-style: italic;
}

emphasis[class="bold"] {
    font-weight: bold;
}

emphasis[class="highlight"] {
    font-weight: 400;
    color: #FEFEFE;

    padding: 5px;
    border-radius: 5px;

    background-color: #8BC34A;
}

emphasis[class="highlight"]:hover { 
    background-color: #0288D1;
}

emphasis[class="code"] {
    font-family: Courier, Ubuntu, Arial;
    font-weight: 700;
    color: #EFEFEF;

    padding: 5px;
    border-radius: 5px;

    background-color: #95A5A6;
}

emphasis[class="code"]:hover {
    font-weight: 700;
}

emphasis[class="date"] {
    font-family: Arial, Ubuntu;
    font-size: 13px;
    font-style: italic;
    font-weight: 700;

    color: #AAAAAA;

    padding-left: 3px;
}

emphasis[class="date"]:hover {
    color: #717171;
}


/******************************/
/*         Right Sidebar      */
/******************************/

.right-sidebar-item {

    text-align: justify;

    font-family: "Roboto", Arial, Ubuntu;
    font-size: 13px;

    margin-top: 20px;
    margin-bottom: 20px;

}