.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.code-statement {
  border: 1px solid #000;
  padding: 10px;
  border-style: dashed;
  border-radius: 5px;
}

.code-question:before {
  content: 'Q';
  font-size: 32px;
}

.code-upload input {
  margin: 10px;
}

#notification-box {
  position: fixed;
  top: 0%;
  left: 50%;
  z-index: 100;
}

/* COntact Us form */
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #0085a1;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}


.site-tagline {
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 25.4px;
  padding-top: 30px;
}

.site-tagline:first-letter {
  font-size: 48px;
  font-weight: 800;
  line-height: 25.4px;
}

.site-aim {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
}

.quote-reference {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
}

.quoted:before {
  content: '\201C';
}

.quoted:after {
  content: '\201D';
}

#footer {
  background-color: #2B0A33;
  font-size:14px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#footer a {
  color: #A5A6A7;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

#footer a:hover, a:focus {
  color: #EEEEEE;
  text-decoration: none;
}

.dotted {
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

article {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section_content {
    color: #22313F;
    /*background: repeating-linear-gradient(
        45deg, 
        rgba(255,78,0,0.2), 
        #FFF 1px, 
        #FFF 10px, 
        #FFF 20px
    ) repeat scroll 0% 0% transparent;*/
}
/* repeating-linear-gradient(45deg, rgba(255,78,0,0.2), #FFF 1px, #FFF 10px, #FFF 20px) repeat scroll 0% 0% transparent */
.contact {
    background-color: transparent;
}

img.codeville_logo {
    width: 500px;
    height: 200px;
}



#custom-bootstrap-menu.robin .codeville_logo_banner {
  background: url(/img/codeville_invert_large.png) no-repeat;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 175px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#custom-bootstrap-menu.robin .navbar-brand,
#custom-bootstrap-menu.robin .navbar-nav li a {
    line-height: 30px;
    height: 60px;
}

#custom-bootstrap-menu.robin {
  padding-left: 5%;
  padding-right: 5%;
  transition: all 0.4s ease;
}

#custom-bootstrap-menu.robin .navbar-brand img {
    margin-top: 0px;
    max-height: 60px;
}
#custom-bootstrap-menu.robin .navbar-collapse {
}
#custom-bootstrap-menu.robin .navbar-brand {
    color: rgba(17, 17, 17, 1);
}
#custom-bootstrap-menu.robin {
    background-color: #291111;
    transition: all 0.4s ease;
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.robin .navbar-nav>li>a {
    font-family: Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: transparent;
}
#custom-bootstrap-menu.robin .navbar-nav>li>a:hover,
#custom-bootstrap-menu.robin .navbar-nav>li>a:focus {
    color: #FFFFFF;
    background-color: transparent;
}
#custom-bootstrap-menu.robin .navbar-nav>.active>a,
#custom-bootstrap-menu.robin .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.robin .navbar-nav>.active>a:focus {
    color: #FFFFFF;
    background-color: transparent;
}
#custom-bootstrap-menu.robin .navbar-toggle {
    border-color: rgba(0, 0, 0, 0.2);
}
#custom-bootstrap-menu.robin .navbar-toggle:hover,
#custom-bootstrap-menu.robin .navbar-toggle:focus {
    background-color: transparent;
}
#custom-bootstrap-menu.robin .navbar-toggle .icon-bar {
    background-color: transparent;
}
#custom-bootstrap-menu.robin .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.robin .navbar-toggle:focus .icon-bar {
    background-color: transparent;
}
#custom-bootstrap-menu.robin {
    border-bottom: 0px solid #BF5330 ;
}

a[class="constant-link"] {text-decoration: none;color:#FFF;}      /* unvisited link */
a[class="constant-link"]:visited {text-decoration: none;color:#FFF;}  /* visited link */
a[class="constant-link"]:hover {text-decoration: none;color:#FFF;}  /* mouse over link */
a[class="constant-link"]:active {text-decoration: none;color:#FFF;}  /* selected link */


.btn-desc-dark {
    font-family: Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px 16px;
    border-radius: 0px;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    text-decoration: none;
}

.btn-desc-dark:hover,
.btn-desc-dark:focus,
.btn-desc-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    text-decoration: none;
}


.share-page {
    text-align: center;
    background: black;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5px 0px;

    a {
        font-weight: 700;
        color: #fff;
        margin-left: 10px;

        &:hover {
            border-bottom: 1px dashed #fff;
        }
    }
}


.course-heading {
    font-family: "Source Sans Pro", Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
    padding-top: 60px;
}

.black {
    border-color: #000;
}

.codeville_button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.large_button {
    width: 200px;
    padding: 10px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif, Ubuntu;
    font-size: 18px;
    font-weight: normal;
    background-color: #290D21;
    border-radius: 500px;
    color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.4s ease;
}

.large_button:hover, .large_button:active, .large_button:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #291111;
}

.ghost-button-border-color {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #534E4C;
  border: 2px solid #534E4C;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
}
.ghost-button-border-color:hover,
.ghost-button-border-color:active {
    text-decoration: none;
  color: #FF4E00;
  border-color: #FF4E00;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}

.ghost-button-border-color-small {
  display: inline-block;
  width: auto;
  padding: 7px;
  color: #534E4C;
  background-color: #FFFFFF;
  border: 1px solid #534E4C;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
}
.ghost-button-border-color-small:hover,
.ghost-button-border-color-small:active {
    text-decoration: none;
  color: #FF4E00;
  border-color: #FF4E00;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}

.ghost-button-border-color-circle {
  text-align: center;
  vertical-align: middle;
  font-size: 48px;
  font-weight: normal;
  display: inline-block;
  width: 75px;
  height: 75px;
  color: #534E4C;
  border-radius: 50%;
  border: 1px solid #534E4C;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
}
.ghost-button-border-color-circle:hover,
.ghost-button-border-color-circle:active {
    text-decoration: none;
  color: #FF4E00;
  border-color: #FF4E00;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}

.thought {
  padding: 10px;
  border: 2px dashed #000;
  border-radius: 5px;
}

.thought:first-letter {
  font-size: 150%;
}

.arial {
  font-family: Arial, "Open Sans", sans-serif;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.super_bold {
  font-weight: 400;
}

.clay {
  color: #22313F;
  border-color: #22313F;
}

.blue {
    color: #2C6671;
    border-color: #2C6671;
}

.black {
    color: #534E4C;
    border-color: #534E4C;
}

.white {
    color:#FFFFFF;
    border-color:#FFFFFF;
}

.purple {
  color: #901A9C;
  border-color: #901A9C;
}

.light-green {
  color: #399C1A;
  border-color: #399C1A;
}

.green {
  color: #2EC866;
  border-color:#2EC866 ;
}

.off-white {
  color: #EEE;
  border-color:#EEE ;
}

.green-blue {
  color: #199099;
  border-color: #199099;
}

.dark-red {
  color: #D51515;
  border-color: #D51515;
}

.orange {
    color:#FF4E00;
    border-color:#FF4E00 ;
}

.heading1 {
    font-family: "Source Sans Pro", Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
}

.heading3 {
    font-weight: 400;
    font-family: "Source Sans Pro", Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
}

.heading4 {
    font-weight: 400;
    border-bottom: 1px solid;
    font-family: "Source Sans Pro", Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
}

.heading5 {
  padding-right: 10px;
  padding-left: 10px;
    font-weight: 400;
    font-family: "Source Sans Pro", Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
}

.course_index_title {
  padding-bottom: 8px;
  border-bottom: 2px solid #22313F;
}

.course_index_description {
  font-family: "Open Sans",sans-serif !important;
  font-size: 16px;
  font-weight: normal;
  font-family: Verdana, sans-serif;
}

/* Slopes */
section {
    position: relative;
    text-align: center;
}
section:before {
    position: absolute;
    content:'';
}
.diagonal {
    z-index: 1;
    padding: 3em;
}
.section_content.diagonal:before {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
    top: 0;
    left: -10%;
    z-index: -1;
    width: 110%;
    height: 75%;
    background-color: #FFFFFF;
}
.section_content.diagonal {
    background-color: #2B0A33;
    /*background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #CD1363),
    color-stop(1, #FB6140)
);
background-image: -o-linear-gradient(to right bottom, #CD1363 0%, #FB6140 100%);
background-image: -moz-linear-gradient(to right bottom, #CD1363 0%, #FB6140 100%);
background-image: -webkit-linear-gradient(to right bottom, #CD1363 0%, #FB6140 100%);
background-image: -ms-linear-gradient(to right bottom, #CD1363 0%, #FB6140 100%);
background-image: linear-gradient(to to right bottom, #CD1363 0%, #FB6140 100%);*/
}

#agenda:before {
  font-style: italic;
  content: "Topics:";
}

#agenda ul li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#agenda li {
  list-style: none;
  padding-left: 2em;
  text-indent: -1em;
}

#agenda li:before {
  content: "⁍";
  font-size: 120%;
  padding-right: 5px;
}

#agenda {
  padding: 10px;
  border: 1px dashed #AAA;
  border-radius: 5px;
  background-color: #FFFFFF;
}


.list li {
  list-style: none;
  padding-left: 1em;
  text-indent: -1em;
}

.list li:before {
  content: "+";
  font-size: 100%;
  padding-right: 5px;
}


.note:before {
  font-style: italic;
  content: "Note:";
}

.note ul li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.note ol li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.note li {
  list-style: none;
  text-indent: -1em;
}

.note li:before {
  content: "⁙";
  font-size: 120%;
  padding-right: 5px;
}

.note {
  padding: 10px;
  border: 1px dashed #AAA;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.tip {
  padding: 10px;
  border: 1px dashed #AAA;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.tip ul li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.tip ol li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.tip:before {
  font-style: italic;
  content: "Tip:";
}

.tip li:before {
  content: "⁙";
  font-size: 120%;
  padding-right: 5px;
}

/* hEader Links */

.header-link {
  position: absolute;
  left: -0.3em;
  opacity: 0;
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
  text-decoration: none;
}