footer {
  font-size:14px;
}

.dotted {
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

article {
  padding-top: 50px;
  padding-bottom: 50px;
}

.services {
  color: #FFFFFF;
    background-color: #FF4E00;
    margin-top: 50px;
    /*background: repeating-linear-gradient(
        45deg, 
        rgba(255,78,0,0.2), 
        #FFF 1px, 
        #FFF 10px, 
        #FFF 20px
    ) repeat scroll 0% 0% transparent;*/
}
/* repeating-linear-gradient(45deg, rgba(255,78,0,0.2), #FFF 1px, #FFF 10px, #FFF 20px) repeat scroll 0% 0% transparent */
.contact {
    background-color: transparent;
}

img.codeville_logo {
    width: 500px;
    height: 200px;
}

/* Navigation bar links */
.cmn-t-underline {
  position: relative;
  color: #000000;
}
.cmn-t-underline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #000000;
  content: "";
  transition: width 0.3s;
}
.cmn-t-underline:hover {
  color: #000000;
}
.cmn-t-underline:hover:after {
  width: 100%;
}

.cmn-t-colour {
  color: #534E4C;
  transition: color 0.2s;
}
.cmn-t-colour:hover {
  text-decoration: none;
  color: #000000;
}



/* Navigation bar */

#custom-bootstrap-menu.navbar-default .codeville_logo_banner {
  background: url(/img/codeville_small.png) no-repeat;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 175px; /* Width of new image */
  height: 70px; /* Height of new image */
  margin-top: 15px;
}

#custom-bootstrap-menu.navbar-default .navbar-brand,
#custom-bootstrap-menu.navbar-default .navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}

#custom-bootstrap-menu.navbar-default {
  transition: all 0.4s ease;
}

#custom-bootstrap-menu.navbar-default .navbar-brand img {
    margin-top: 15px;
    max-height:70px;
}
#custom-bootstrap-menu.navbar-default .navbar-collapse {
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(17, 17, 17, 1);
}
#custom-bootstrap-menu.navbar-default {
    background-color: transparent;
    border-width: 1px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    font-family: Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #DD2A13;
    background-color: transparent;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(83, 78, 76, 1);
    background-color: transparent;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(83, 78, 76, 1);
    background-color: transparent;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: rgba(83, 78, 76, 0.2);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: transparent;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: transparent;
}
#custom-bootstrap-menu.navbar-default {
    border-color: rgba(83, 78, 76, 0.2);
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


#custom-bootstrap-menu.robin .codeville_logo_banner {
  background: url(/img/codeville_invert_small.png) no-repeat;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 175px; /* Width of new image */
  height: 50px; /* Height of new image */
}

#custom-bootstrap-menu.robin .navbar-brand,
#custom-bootstrap-menu.robin .navbar-nav li a {
    line-height: 25px;
    height: 50px;
}

#custom-bootstrap-menu.robin {
  padding-left: 5%;
  padding-right: 5%;
  transition: all 0.4s ease;
}

#custom-bootstrap-menu.robin .navbar-brand img {
    margin-top: 0px;
    max-height: 50px;
}
#custom-bootstrap-menu.robin .navbar-collapse {
}
#custom-bootstrap-menu.robin .navbar-brand {
    color: rgba(17, 17, 17, 1);
}
#custom-bootstrap-menu.robin {
    background-color: #FF4E00;
    border-width: 1px;
    border-radius: 0px;
}
#custom-bootstrap-menu.robin .navbar-nav>li>a {
    font-family: Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: transparent;
}
#custom-bootstrap-menu.robin .navbar-nav>li>a:hover,
#custom-bootstrap-menu.robin .navbar-nav>li>a:focus {
    color: #FFFFFF;
    background-color: transparent;
}
#custom-bootstrap-menu.robin .navbar-nav>.active>a,
#custom-bootstrap-menu.robin .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.robin .navbar-nav>.active>a:focus {
    color: #FFFFFF;
    background-color: transparent;
}
#custom-bootstrap-menu.robin .navbar-toggle {
    border-color: rgba(0, 0, 0, 0.2);
}
#custom-bootstrap-menu.robin .navbar-toggle:hover,
#custom-bootstrap-menu.robin .navbar-toggle:focus {
    background-color: transparent;
}
#custom-bootstrap-menu.robin .navbar-toggle .icon-bar {
    background-color: transparent;
}
#custom-bootstrap-menu.robin .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.robin .navbar-toggle:focus .icon-bar {
    background-color: transparent;
}
#custom-bootstrap-menu.robin {
    border-color: transparent;
}

a[class="constant-link"] {text-decoration: none;color:#FFF;}      /* unvisited link */
a[class="constant-link"]:visited {text-decoration: none;color:#FFF;}  /* visited link */
a[class="constant-link"]:hover {text-decoration: none;color:#FFF;}  /* mouse over link */
a[class="constant-link"]:active {text-decoration: none;color:#FFF;}  /* selected link */


.btn-desc-dark {
    font-family: Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px 16px;
    border-radius: 0px;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    text-decoration: none;
}

.btn-desc-dark:hover,
.btn-desc-dark:focus,
.btn-desc-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    text-decoration: none;
}


.share-page {
    text-align: center;
    background: black;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5px 0px;

    a {
        font-weight: 700;
        color: #fff;
        margin-left: 10px;

        &:hover {
            border-bottom: 1px dashed #fff;
        }
    }
}


.course-heading {
    font-family: "Source Sans Pro", Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
    padding-top: 60px;
}

.black {
    border-color: #000;
}


.large_button {
    width: 250px;
    font-family: Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
    font-size: 22px;
}

.ghost-button-border-color {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #534E4C;
  border: 2px solid #534E4C;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
}
.ghost-button-border-color:hover,
.ghost-button-border-color:active {
    text-decoration: none;
  color: #FF4E00;
  border-color: #FF4E00;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}

.ghost-button-border-color-small {
  display: inline-block;
  width: auto;
  padding: 7px;
  color: #534E4C;
  background-color: #FFFFFF;
  border: 1px solid #534E4C;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
}
.ghost-button-border-color-small:hover,
.ghost-button-border-color-small:active {
    text-decoration: none;
  color: #FF4E00;
  border-color: #FF4E00;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}

.ghost-button-border-color-circle {
  text-align: center;
  vertical-align: middle;
  font-size: 48px;
  font-weight: normal;
  display: inline-block;
  width: 75px;
  height: 75px;
  color: #534E4C;
  border-radius: 50%;
  border: 1px solid #534E4C;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
}
.ghost-button-border-color-circle:hover,
.ghost-button-border-color-circle:active {
    text-decoration: none;
  color: #FF4E00;
  border-color: #FF4E00;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}



.blue {
    color: #2C6671;
    border-color: #2C6671;
}

.black {
    color: #534E4C;
    border-color: #534E4C;
}

.white {
    color:#FFFFFF;
    border-color:#FFFFFF;
}

.orange {
    color:#FF4E00;
    border-color:#FF4E00 ;
}

.heading1 {
    font-family: "Source Sans Pro", Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
}

.heading3 {
    font-weight: 400;
    font-family: "Source Sans Pro", Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
}

.heading4 {
    font-weight: 400;
    border-bottom: 1px solid;
    font-family: "Source Sans Pro", Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
}

.heading5 {
  padding-right: 10px;
  padding-left: 10px;
    font-weight: 400;
    font-family: "Source Sans Pro", Arial, Ubuntu, Helvetica Neue, Helvetica, sans-serif;
}



/* Slopes */
.diagonal {
    z-index: 1;
    padding: 3em;
}
.diagonal:before {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
    top: 0;
    left: -10%;
    z-index: -1;
    width: 110%;
    height: 75%;
    background: #FF4E00;
}

section {
    position: relative;
    background: #FF4E00;
    text-align: center;
}
section:before {
    position: absolute;
    content:'';
}
section.diagonal {
    background: #FF4E00;
}
