---
---
<!DOCTYPE html>
<html lang="en">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Codeville is a platform for personalized learning, where you can learn new computer technologies."/>
    <meta name="keywords" content="education, computers, c, blog, legends, c-language, articles, free, in-person, coaching, classes"/>

  
    <meta property="fb:app_id"                            content="302184056577324" /> 
    <meta property="og:type"                              content="article" /> 
  <meta property="og:title"                             content="Codeville | Learn" /> 
  <meta property="og:url"    content="http://codeville.org.in/" /> 
  <meta property="og:image"                             content="http://codeville.org.in/img/cover.png" /> 
    <meta property="og:site_name" content="Codeville" />
    <meta property="og:description" content="Codeville is a platform for personalized learning, where you can learn new computer technologies." />
    <meta name="author" content="Codeville" />
    <link rel="image_src" href="http://codeville.org.in/img/cover.png" / >

    <title>Codeville | Learn everyday</title>

    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/stylish-codeville-blue.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <!--link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"-->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'/>
</head>

<body>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '355878411287172',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

    {% include nav.html %}

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 style="color:#eee;">Codeville</h1>
            <!--h3>Unravelling</h3-->
            <!--img src="img/logo.png" / -->
            <br>
            <a href="#services" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <!--section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>We provide the best trainings in computer technologies.</h2>
                    <!--p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
                </div>
            </div>
            <!-- /.row >
        </div>
        <!-- /.container>
    </section -->

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>This is what we have for you</h2>
                    <hr class="small" />
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="service-item">
                                <a href="{{ "/pages/in-person/" | prepend: site.baseurl }}" class="constant-link">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-book fa-stack-1x icon_color"></i>
                                    </span>
                                </a>
                                    <h4>
                                        <strong><a href="{{ "/pages/in-person/" | prepend: site.baseurl }}" class="text-link">In-person courses</a></strong>
                                    </h4>
                                    <p>Find the information about our in-person courses.</p>
                                <a href="{{ "/pages/in-person/" | prepend: site.baseurl }}" class="btn btn-light">Learn more</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="service-item">
                                <a href="{{ "/pages/courses/" | prepend: site.baseurl }}" class="constant-link">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-desktop fa-stack-1x icon_color"></i>
                                    </span>
                                </a>
                                    <h4>
                                        <strong><a href="{{ "/pages/courses/" | prepend: site.baseurl }}" class="text-link">Online courses</a></strong>
                                    </h4>
                                    <p>Check out our online course offerings.</p>
                                <a href="{{ "/pages/courses/" | prepend: site.baseurl }}" class="btn btn-light">Learn more</a>
                            </div>
                        </div>
                        <!--div class="col-md-4 col-sm-12">
                            <div class="service-item">
                                <a href="{{ "/arena.html" | prepend: site.baseurl }}" class="constant-link">
                                    <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-connectdevelop fa-stack-1x icon_color"></i>
                                    </span>
                                </a>
                                    <h4>
                                        <strong>The Physics Arena</strong>
                                    </h4>
                                    <p>From particle physics to astrophysics.</p>
                                <a href="{{ "/arena.html" | prepend: site.baseurl }}" class="btn btn-light">Know more</a>
                            </div>
                        </div-->
                        <div class="col-md-4 col-sm-12">
                            <div class="service-item">
                                <a href="{{ "/pages/blog/" | prepend: site.baseurl }}" class="constant-link">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rocket fa-stack-1x icon_color"></i>
                                </span>
                                </a>
                                <h4>
                                    <strong><a href="{{ "/pages/blog/" | prepend: site.baseurl }}" class="text-link">Blog</a></strong>
                                </h4>
                                <p>Insights of the field of Computer Science.</p>
                                <a href="{{ "/pages/blog/" | prepend: site.baseurl }}" class="btn btn-light">Read more</a>
                            </div>
                        </div>
                        <!--div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-phone fa-stack-1x icon_color"></i>
                            </span>
                                <h4>
                                    <strong>Wanna meet us?</strong>
                                </h4>
                                <p>Get in touch.</p>
                                <a href="/contact.html" class="btn btn-light">Contact</a>
                            </div>
                        </div-->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>    

    {% include footer.html %}

    <!-- Footer >
    <footer>
        <div class="container" id="contact">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Codeville</strong>
                    </h4>
                    <p>Arpit Bhayani<br>Near Satidham Temple<br>Jaistambh Square, Rallies Plot<br>Amravati</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (+91) 9652602714</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">arpit.b.bhayani@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/pages/The-Codeville-Academy/1432398190392641?ref=aymt_homepage_panel"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Codeville 2015</p>
                </div>
            </div>
        </div>
    </footer -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
