---
    title: Ville for scripters, hackers, coders and programmers
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include /navigations/cv_nav.html %}
    <div class="landing_page">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="row centered">
                    <div class="huge_image"/>
                        <img src="/img/logo/Codeville_orange_slant.png"/>
                    </div>
                </div>
                <div class="row centered">
                    <div class="col-md-12 text-center">
                        <a href="{{ "/script/pitch" | prepend: site.baseurl }}" class="large_button" title="Pitch an idea for a script here">Pitch your idea</a>
                        <a href="{{ "/script/" | prepend: site.baseurl }}" class="large_button" title="Explore all the scripts here">All Scripts</a>
                        <a href="{{ "/script/publish" | prepend: site.baseurl }}" class="large_button" title="Publish your script here">Publish your script</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include low_head.html %}
    {% include footer.html %}
</body>
</html>
