---
layout: course_page
category: c101
---

<h2 class="clay bold"> C101 - Introduction to C Language </h2>
<hr class="large orange" />
<p>Greetings fellow programmers! Codeville welcomes you to C101 - Introduction to C language.</p>
<p>This course is essentially the first step of yours into the world of hardcore programming. The world of programming is itself very fascinating, but we will try to add some bits of our own to make is even more fun to learn.</p>
<h3 class="clay bold">Why C101?</h3>
<p>The C programming language is a general purpose
programming language that is used to develop anything and
everything that you see around. It includes the smart phone that
you have in your hand right now, the laptop or computer on
which you play games or surf Internet. In short every
technology that you see or use in day today life is somehow
related to C language.<br/>
Through C101 you will learn the practical aspect of the C programming language, the way it is
implemented and some of the real world application. C101 will give you
analytical and rational thinking, problem solving approach that is today the most required qualities.</p>

<p>C101 will help you build 4 real world applications, namely</p>
<ol>
	<li><span class="bold green">Guess the number!</span> - A number game</li>
	<li><span class="bold green">Tic Tac Toe</span> - A game we all love</li>
	<li><span class="bold green">Game score management</span> - Learn how you can store scores of games</li>
	<li><span class="bold green">Chat application</span> - Similar to any chat application you use</li>
</ol>

<br/><a class="btn btn-large btn-warning" href="{{ "/c101/2014/01/01/c101-getting-started.html" }}">Lets get started</a>

<!-- {% for post in site.posts %}
    {% if post.tags contains "index" %}
        {{ post.content }}
    {% endif %}
{% endfor %} -->