---
layout: lecture-session
category: c101
title: "C101 - Introduction to C Language"
---

<div class="lecture-title">
	{{page.title}}
</div>

<section>
	<div class="para">
		Greetings fellow programmers! Codeville welcomes you to C101 - Introduction to C language.
	</div>

	<div class="para">
		This course is essentially the first step of yours into the world of hardcore programming. The world of programming is itself very fascinating, but we will try to add some bits of our own to make is even more fun to learn.
	</div>
</section>

{% include agenda.html %}

<section>
	<div id="why-c" class="section-title">
		Why learn C language?
	</div>
	<div class="para">C language is a general purpose programming language that is used to develop anything and everything that you see around, right from operating systems to spreadsheets to expert systems. C language is a very good example of a <emphasis class="highlight">Middle Level Language</emphasis> because it has the capability to access the system's low level that is, machine level functions. It does not spoon-feed you with all the functionalities you need to develop something, instead it gives you basic building blocks to work with and develop some of the most amazing things.</div>
</section>

<section>
	<div id="why-c101" class="section-title">
		Why choose course C101?
	</div>
	<div class="para">
		The course C101, is designed in a manner to make you understand C language completely. This course will help you understand the basic concepts plus advanced concepts very easily. Behind every successful programmer that is a lot of programming practice; so in this course you will practice a lot on-line and solve a lot of practical programming questions that will help you understand the concepts well and solve any real world problems easily with C language.
	</div>
</section>

<section>
	<a class="button" href="{% post_url /codelearn/courses/c101/2014-01-31-c101-getting-started %}">Let's begin</a>
</section>

<!-- {% for post in site.posts %}
    {% if post.tags contains "index" %}
        {{ post.content }}
    {% endif %}
{% endfor %} -->