{% assign qid = include.qid %}
<form class="form-inline ansform" method="POST" action="https://vast-eyrie-2726.herokuapp.com/eval" name="ansform" enctype="multipart/form-data">
<!-- <form class="form-inline ansform" method="POST" action="http://localhost:5000/eval" name="ansform" enctype="multipart/form-data"> -->
	<input class="btn button" type="hidden" value="{{qid}}" name="_id" class="form-control" placeholder="_id here" id="_id">
	<div class="input-group">
		<span class="input-group-btn">
			<span class="btn button btn-file">
				Browse the code<input class="" type="file" name="ans" accept="*" required/>
			</span>
		</span>
		<input type="text" class="form-control" readonly>
	</div>
	<button type="submit" class="btn button">Verify</button>
</form>