{% assign qid = include.qid %}
{% assign ipdownload = include.ipdownload %}
<form class="form-inline ansform" method="POST" action="https://vast-eyrie-2726.herokuapp.com/eval" name="ansform" enctype="multipart/form-data">
	<input class="btn btn-default" type="hidden" value="{{qid}}" name="_id" class="form-control" placeholder="_id here" id="_id">
	<div class="form-group">
		<a class="btn btn-default" href="{{ipdownload}}" role="button">Download</a>
	</div>
	<div class="input-group">
		<span class="input-group-btn">
			<span class="btn btn-default btn-file">
				Browse&hellip; <input class="" type="file" name="ans" accept="*"/>
			</span>
		</span>
		<input type="text" class="form-control" readonly>
	</div>
	<button type="submit" class="btn btn-default">Verify</button>
</form>