<div id="white_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 centered">
                <a class="link" href="{{ "/about/codeville" | prepend: site.baseurl }}">About Codeville</a>
                <a class="link" href="{{ "/about/team" | prepend: site.baseurl }}">Our Team</a>
            	<a class="link" href="https://www.facebook.com/codeville.org.in" class="facebook-link">Facebook</a>
                <a class="link" href="http://twitter.com/codevilleacad" class="twitter-link">Twitter</a>
                <a href="{{ "/contact" | prepend: site.baseurl }}" class="link">Contact Us</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <p class="copyright section_copyright">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </div>
</div>