<!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <a href="{{ "/about.html" | prepend: site.baseurl }}" class="heading5 cmn-t-colour black">About Us</a> | 
                    <a href="{{ "/contact.html" | prepend: site.baseurl }}" class="heading5 cmn-t-colour black">Contact Us</a> | 
                    <a href="{{ "/pages/blog/" | prepend: site.baseurl }}" class="heading5 cmn-t-colour black">Blog</a>
                    <hr class="small black" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <!--h4><strong>Codeville</strong></h4>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/pages/The-Codeville-Academy/1432398190392641?ref=aymt_homepage_panel"><i class="fa fa-facebook fa-fw fa-x"></i></a>
                        </li>
                    </ul-->
                    <p class="copyright text-muted">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
                </div>
            </div>
        </div>
    </footer>