<!-- Footer -->
    <footer style="font-size:14px;background:#EEE">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    About Us | Contact Us | Blog 
                    <hr class="medium black" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <!--h4><strong>Codeville</strong></h4>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/pages/The-Codeville-Academy/1432398190392641?ref=aymt_homepage_panel"><i class="fa fa-facebook fa-fw fa-x"></i></a>
                        </li>
                    </ul-->
                    <p class="copyright text-muted">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
                </div>
            </div>
        </div>
    </footer>