<script>

$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
        
        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }
        
    });
    $(function() {
      return $(".section-title").each(function(i, el) {
        var $el, icon, id;
        $el = $(el);
        id = $el.attr('id');
        icon = 'Get Link';
        if (id) {
            /*return $el.append($("<a/>").addClass("header-link").attr("href", "#" + id).html(icon));*/
            return $el.append($("<a/>").addClass("header-link get_link_button").attr("href", "#" + id).html(icon));
        }
      });
    });
    $(function() {
      return $("#agenda").each(function(i, el) {
        var $el, h="";
        $el = $(el);

        $(".section-title").each(function(j, e) {
            var id = $(e).attr('id');
            var li = $('<li/>').appendTo($el);
            var aa = $('<a/>').attr("href", "#" + id).html($(e).text().replace("Get Link","")).appendTo(li);
        });
        return $el;
      });
    });

    $(function() {
      return $("#keywords").each(function(i, el) {
        var $el, l="";
        $el = $(el);

        $("emphasis[class='highlight']").each(function(j, e) {
            var text = $(e).html();
            $el.append('<emphasis class="keyword">' + text + '</emphasis>');
        });
        return $el;
      });
    });

});

$(document).ready(function() { 
    var options = { 
        target:        '#notification-box',
        beforeSubmit:  showRequest,
        success:       showResponse
    }; 
    $('.ansform').ajaxForm(options); 
}); 
 
// pre-submit callback 
function showRequest(formData, jqForm, options) { 
    return true; 
} 
 
// post-submit callback 
function showResponse(responseText, statusText, xhr, $form)  {
    $("#notification-box").hide();
    $("#notification-box").removeAttr('class');
    switch(responseText['ec']) {
        case 0:
            $("#notification-box").attr('class', 'alert alert-success');
            break;
        case 1:
            $("#notification-box").attr('class', 'alert alert-danger');
            break;
        case -2:
            $("#notification-box").attr('class', 'alert alert-warning');
            break;
    }
    $("#notification-box").text(responseText['msg']).show().delay(5000).fadeOut();
}

</script>