---
---
<!DOCTYPE html>
<html lang="en">

<!-- <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"> -->
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Codeville is a platform for personalized learning, where you can learn new computer technologies."/>
    <meta name="keywords" content="education, computers, c, blog, legends, c-language, articles, free, in-person, coaching, classes"/>
    <title>Start coding your world today :: Codelearn - Codeville</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    
    <link href="/css/main.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ "/css/codelearn.css" | prepend: site.baseurl }}">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    {% include cl_nav.html %}
    <!-- <div class="share-zone">
                            <a href="{{ "/courses/c101/" | prepend: site.baseurl }}" class="share_button facebook">Facebook</a>
                            <a href="{{ "/courses/c101/" | prepend: site.baseurl }}" class="share_button twitter">Twitter</a>
                            <a href="{{ "/courses/c101/" | prepend: site.baseurl }}" class="share_button google-plus">Google+</a>
                        </div> -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <div class="notice-box">
                    <h3 class="text-center notice-body">Wanna teach a course @ Codeville? Lets discuss it over a cup of <span class="quoted"><a href="{{ "/contact.html" | prepend: site.baseurl }}">coffee</a></span>.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <div class="course-box">
                    <div class="course-content">
                        <h1 class="course_heading">
                            <a href="{{ "/courses/c101/" | prepend: site.baseurl }}">C101 : Introduction to C Language</a>
                        </h1>
                        <hr class="black" />
                        <h3 class="course_abstract">C language is the most widely used computer programming language; it is used to power your computers, smartphones, devices, supercomputer and embedded systems. Knowing C language helps you understand and learn all other higher level languages like java, python, etc. C101 is an introductory course on C language that will build a rock solid foundation for problem solving, competitive programming and computer science fundamentals.</h3>
                        <div class="course-meta-info">
                            <p>Instructor: <span class="course_instructor">Arpit Bhayani</span></p>
                        </div>
                        <div class="course-actions">
                            <a href="{{ "/courses/c101/" | prepend: site.baseurl }}" class="button">Launch C101</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    {% include white_footer.html %}
    {% include low_head.html %}
</body>
</html>
