---
    title: "Show off your script writing abilities here"
    layout: default
    product: codescript
---
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <div class="notice-box">
                <h3 class="text-center notice-body">Wanna show-off your scripting skills? Show it off here @Codescript. <span class="quoted"><a href="{{ "/contact.html" | prepend: site.baseurl }}">Click Here</a></span>.</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="main-content">
                <div class="tag-cloud">
                    {% include /ui/tag-cloud.html %}
                </div>
                <div class="recent-scripts">
                    <emphasis class="italic">
                        Recent Scripts
                    </emphasis>
                    {% include /ui/recent-scripts.html %}
                </div>
                <div class="actions">
                    <a href="{% post_url /tags/2015-05-13-all %}" class="button">View all scripts</a>
                </div>
                {% include share.html %}
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="script-count">
                    <emphasis class="code">Script count: {{ site.categories.script | size }}</emphasis>
                </div>
            </div>

        </div>
    </div>    
</div>