<div class="left-sidebar">
    <div class="left-sidebar-item">
    	<div class="top-tags">
			<div class="section-title">
            	Top Tags
            </div>
            {% include /ui/top-tags.html %}
        </div>
    </div>
    <div class="left-sidebar-item">
    	<div class="section-title">
            All Tags
        </div>
        <p>Click the button belo to view all the tags</p>
        <a href="{{ "/tag/view" | prepend: site.baseurl }}" class="black-white-button centered" style="width:100%;">See all tags</a>
    </div>
</div>