<div class="right-sidebar">

    <div class="right-sidebar-item">
        <div class="section-title">
            Sharing is Caring!
        </div>
        <p>If you loved what you read, like, share and follow for more!</p>
        <div class="row">
            <div class="col-md-12">
                {% include /social/facebook-snip.html %}
            </div>
        </div>
    </div>

    <div class="right-sidebar-item">
        <div class="section-title">
            Pitch your idea
        </div>
        <p>If you have an idea for a utility script, Pitch It.</p>
        <a href="{{ "/script/pitch" | prepend: site.baseurl }}" class="black-white-button centered" style="width:100%;">Pitch your idea</a>
    </div>

    <div class="right-sidebar-item">
        <div class="section-title">
            View all scripts
        </div>
        <p>Explore all the scripts here<br/>Learn, Use and Share.</p>
        <a href="{% post_url /tags/2015-05-13-all %}" class="black-white-button centered" style="width:100%;">All Scripts</a>
    </div>

    <div class="right-sidebar-item">
        <div class="section-title">
            All Pitched Ideas
        </div>
        <p>View all the pitched ideas and try to solve one.</p>
        <a href="{% post_url /tags/2015-05-13-pitched %}" class="black-white-button centered" style="width:100%;">All Pitched Ideas</a>
    </div>
</div>