---
    title: "Share your scripts, or ask for a script"
    layout: default
    product: codescript
---

<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% include /ui/sidebar/left-sidebar.html %}
        </div>
        <div class="col-md-8">
            <div class="main-content">
                <!-- <div class="tag-cloud">
                    {% include /ui/tag-cloud.html %}
                </div> -->
                <div class="recent-scripts">
                    <div class="section-title">
                        Recently published scripts
                    </div>
                    {% include /ui/recent-scripts.html %}
                </div>
                <div class="recent-scripts">
                    <div class="section-title">
                        Recently pitched scripts
                    </div>
                    {% include /ui/recent-scripts-pitched.html %}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            {% include /ui/sidebar/right-sidebar.html %}
        </div>
    </div>
</div>