---
layout: page
title: Codeville Blog
command: Have a look
---


            <div class="row text-center">
                        {% for blogcat in site.data.blogs %}
                        {% cycle 'group 1':'<div class="row">', '', '', '' %}
                        {% if forloop.length == 1 %}
                            <div class="col-md-12 col-sm-12">
                        {% elsif forloop.length == 2 %}
                            <div class="col-md-6 col-sm-6">
                        {% elsif forloop.length == 3 %}
                            <div class="col-md-4 col-sm-4">
                        {% else %}
                            <div class="col-md-3 col-sm-6">
                        {% endif %}
                            <div class="service-item">
                                <a href="{{ blogcat.url }}" class="constant-link">
                                    <img class="blogcat-icon" src="{{blogcat.icon}}" alt="{{ blogcat.name }}" />
                                </a>
                                <h3 class="heading3">
                                    <a href="{{ blogcat.url }}" class="heading5 cmn-t-colour black"><strong>{{ blogcat.name }}</strong></a>
                                </h3>
                                <h5 class="heading5">{{ blogcat.desc }}</h5>
                            </div>
                        </div>
                        {% cycle 'group 2':'', '', '', '</div>' %}
                        {% endfor %}
                        {% if forloop.length % 4 != 0 %}
                        </div>
                        {% endif %}
            </div>
            <!-- /.row -->