---
layout: default
---

<!-- Post Header -->
<header class="course-header bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="row">
                    <div class="course-heading">
                        <div class="col-md-2 col-sm-12">
                            <img class="course-icon" src="{{ page.logo | prepend: site.baseurl }}" alt="logo" />
                        </div>
                        <div class="col-md-10 col-sm-12">
                                <h2>{{ page.title }}</h2>
                                <p class="lead">{{ page.subtitle }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
				{{ content }}
            </div>
        </div>
    </div>
</article>

<hr>
