<!DOCTYPE html>
<html lang="en">
{% include head.html %}

{% case page.product %}
{% when 'codelearn' %}
	{% include /scripts/codelearn_content.html %}
	{% include /scripts/questions.html %}
	{% include cl_head.html %}
{% when 'codezone' %}
	{% include /scripts/questions.html %}
	{% include cz_head.html %}
{% when 'codescript' %}
	{% include cs_head.html %}
{% endcase %}
<body>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=355878411287172";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	{% case page.product %}
	{% when 'codeville' %}
		{% include /navigations/cv_nav.html %}
	{% when 'codelearn' %}
		{% include /navigations/cl_nav.html %}
	{% when 'codezone' %}
		{% include /navigations/cz_nav.html %}
	{% when 'codescript' %}
		{% include /navigations/cs_nav.html %}
	{% endcase %}
	{{content}}
	{% include disqus.html %}
</body>
{% include low_head.html %}
{% include footer.html %}
</html>