<!DOCTYPE html>
<html lang="en">
{% include head.html %}

{% case page.product %}
{% when 'codelearn' %}
	{% include /scripts/codelearn_content.html %}
	{% include /scripts/questions.html %}
	{% include cl_head.html %}
{% when 'codezone' %}
	{% include /scripts/questions.html %}
	{% include cz_head.html %}
{% when 'codescript' %}
	{% include cs_head.html %}
{% endcase %}
<body>
	{% case page.product %}
	{% when 'codeville' %}
		{% include /navigations/cv_nav.html %}
	{% when 'codelearn' %}
		{% include /navigations/cl_nav.html %}
	{% when 'codezone' %}
		{% include /navigations/cz_nav.html %}
	{% when 'codescript' %}
		{% include /navigations/cs_nav.html %}
	{% endcase %}
	{{content}}
	{% include disqus.html %}
</body>
{% include low_head.html %}
{% include footer.html %}
</html>